name: github contribution grid snake

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: 
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: generate snake
        uses: Platane/snk@v3
        with:
          github_user_name: D3VIKA-SASIKUMAR
          outputs: |
            dist/github-contribution-grid-snake.svg

      - name: push changes
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
